@{
    ViewData["Title"] = "Perla Ramirez";
}

<div class="text-center">
    <h4 class="display-3">Perla Ramirez</h4>

    <h5>Desarrolladora en tecnologias tanto frontend y backend.</h5>

    <img id="foto"
         src="~/imagenes/perla.jpg" alt="Perla" />

</div>


<div class="row justify-content-center text-center" style="background-color : #00000">
    <div class="col col-md-7 secao-bemvindo">
        <h3>Portafolio</h3>
        <p>
            Estoy estudiando y desarrollandome en diferentes areas donde he trabajado con diferentes equipos y he utilizado las
            más variadas tecnologías y ofreciendo soluciones para escritorio, web y móvil tambien he desarrollado un mini juego.
        </p>
    </div>
</div>
<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white experiencia" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Desarrollo de aplicaciones back-end desde diseño, hasta pruebas y despliegue.
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecalho">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
            </ul>

        </div>
        <div class="col col-3 bg-white experiencia" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Creación de aplicaciones front-end utilizando las últimas herramientas del mercado integradas con el back-end
            </p>

            <p class="text-primary cabecalho">
                Stack:
            </p>

            <p>
                React, Angular
            </p>

            <p class="text-primary cabecalho">
                Experiencia:
            </p>

            <ul>
                <li>Javascript</li>
                <li>HTML/CSS</li>
            </ul>
        </div>
    </div>
</div>
