#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#BA55D3;
}

.custom-navbar {
    background-color: #BA55D3; /* Color azul personalizado */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    z-index:100;
    overflow:hidden;
    width:100%;
}

#foto {
    width: 300px;
    margin: 1rem 0;
    border-radius: 50%;
}

.secao-bemvindo {
    margin: 5rem 0 10rem 0;
    color: black;
}

.secao-bemvindo h1 {
    margin-bottom: 0.5rem;
}

.secao-bemvindo p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.20rem;
}

.fuente {
    font-weight: bold;
    color:#BA55D3;
}

.experiencia ul {
    list-style: none;
    padding-left: 0;
}

.experiencia i {
    color: #0d6efd;
    font-size: 50px;
}

#footer {
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 20px;
}

#footer .socials-media ul {
      display: inline-block;
      float: none;
      margin: 0 0 25px 0;
}

#footer .socials-media ul li {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
}

.credits {
    font-size: 15px;
}
a {
    color: black; /* Cambia esto al color que desees */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
}

