html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E6E6FA;
}

.btn-custom {
    background-color: #BA55D3; /* Cambia esto al color que desees */
    color: #ffffff; /* Cambia esto al color de texto deseado */
}

    /* Cambiar el color de fondo de los botones al pasar el cursor */
    .btn-custom:hover {
        background-color: #800080; /* Cambia esto al color de fondo deseado al pasar el cursor */
        color: #FFF5EE; /* Cambia esto al color de texto deseado al pasar el cursor */
    }

.fuente {
    font-weight: bold;
    color: #BA55D3;
}